:host{
  ui-filtered-grid /deep/ .holder{
    display: none !important;
  }

  ui-filtered-grid /deep/ #trigger{
    display: none !important;
  }

  ui-filtered-grid /deep/ grid-header{
    background-color: transparent;
    color: black;
  }

  ui-filtered-grid /deep/ .Company{
    flex: 2 0 0 !important;
    padding-right: 0px;
  }

  ui-filtered-grid /deep/ .Title{
    flex: 2 0 0 !important;
    padding-right: 0px;
  }

  ui-filtered-grid /deep/ .Start{
    flex: 1 0 0 !important;
    padding-right: 0px;
  }

  ui-filtered-grid /deep/ .End{
    flex: 1 0 0 !important;
    padding-right: 0px;
  }


  .mainContainer{
    border: solid 1px #E0E0E0;
    border-radius: 2px;
    margin-top: .5em;
    font-family: Helvetica;
    font-size: .9em;
  }
  .bioWhContainer, .contactContainer, .contactHeader {
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    padding: 1em;
    > *:not(:last-child){
      margin-right: 1em;
    }
  }
  .contactContainer, .contactHeader{
    align-items: center;
  }
  .jobHistory{
    width: 50%;
    height: 12em;
    font-size: 1.2em;
    flex: 1 0 0;
  }

  ui-filtered-grid /deep/ ui-grid /deep/ grid-row, ui-filtered-grid /deep/ ui-grid /deep/ grid-header, ui-filtered-grid /deep/ ui-grid /deep/ grid{
    border: 0px;
  }

  .bio{
    width: 50%;
    flex: 1.75 0 0;
  }
  .startDate, .endDate{
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    justify-content: flex-start;
  }
  .contactHeader{
    background-color: #EBEBEB;
    border-bottom: solid 1px #E0E0E0;
  }

  .selected{
    background-color: #FFE0B2;
    .contactHeader{
      background-color: #CCB38E;
    }
  }
  .compliance {
    display: inline-block;
    vertical-align: bottom;
    text-align: center;
    border: 1px solid black;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    margin-right: .5em;
  }
  .hold{
    background-color: yellow;
  }

  .block{
    background-color: red;
  }

  .ok{
    background-color: green;
  }
}